
@{
    ViewBag.Title = "Register Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .reg-info{
        text-align:center;
        width:40%;
        margin-left:30%;
        margin-top:10%;
        font-size:3vh;
    }

</style>

<div class="reg-info">

    <div class="alert alert-success" role="alert" data-aos="zoom-out-down">
        Uspješno ste registrirani!
    </div>

</div>

